.list-repository {
    width: 397px;
    background: var(--white-color) ;
    padding: var(--indent-outside-element);
    margin: 0 auto;
    border-radius: var(--element-border-radius);
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns:minmax(auto, 295px) 50px;
    column-gap: var(--padding-in-element);
    row-gap: var(--indent-outside-element);
}

.list-repository-is-loading {
    width: 100%;
    height: 100px;
}