@import "src/styles/variables.scss";
.listRepository {
    width: 397px;
    background: $white-color;
    padding: $indent-outside-element;
    margin: 0 auto;
    border-radius: $element-border-radius;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns:minmax(auto, 295px) 50px;
    column-gap: $padding-in-element;
    row-gap: $indent-outside-element;
}

