.git-repo-tile__avatar {
    height: 80px;
    width: 80px;
    position: relative;
    background: var(--white-color);
    border-radius: 50%;
}

.git-repo-tile__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /*z-index: 2;*/
    /*visibility: hidden;*/
}

.git-repo-tile__default-avatar {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: var(--red-in-repos-list);
    text-align: center;
}

.git-repo-tile__repo-first-letter{
    font-size: 40px;
    font-weight: bold;
    color: var(--white-color);
    line-height: 80px;
    visibility: visible;
}