.git-repo-tile {
    height: 104px;
    width: 357px;
    background-color: var(--white-color);
    border: var(--border-repos-list);
    border-radius: var(--element-border-radius);
    padding: var(--padding-in-element);
    display: flex;
    align-items: center;
    gap: var(--padding-in-element);
    margin-bottom: var(--indent-outside-element);
    cursor: pointer;

}
.git-repo-tile:hover {
    box-shadow: 0 2px 6px 0 var(--shadow-color);
}

.git-repo-tile__content {
    height: 59px;
    width: 241px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.git-repo-tile__org-name {
    line-height: 16px;
    font-size: 14px;
}
.git-repo-tile__org-link {
    color: var(--gray-text-color);
    text-decoration:none
}

.git-repo-tile__org-link:hover {
    color: var(--hover-link-color);
    text-decoration:none;
}

.git-repo-tile__repo-name {
    display: inline-block;
    color: var(--black-text-color);
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.git-repo-tile__info {
    line-height: 16px;
    font-size: 14px;
    color: var(--gray-text-color);
    display: flex;
    gap: var(--indent-outside-element);
    align-items: center;vertical-align: center;
}